<nav class="navbar">
  <div class="navbar-brand">Shift Controller</div>

  <div class="navbar-menu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a>Home</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-divider"></div>
          <a (click)="logOut()" class="dropdown-item">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
