.buttons {
    margin-bottom: 10px;
}
.btn{ display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #33186B;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-right: 10px;}

.fl-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.fl-table th, .fl-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.fl-table th {
    background-color: #f2f2f2;
}

.table-wrapper {
    overflow-x: auto;
}

.highlighted {
    background-color: #e6ffe6;
}

.cont {
    background-color: #7360DF;
    color: white;
    height: 20px;
    margin: 3px 0 3px 0;
  }
  
  .cont1 {
    background-color: #D63484;
    color: #fff;
    height: 20px;
    margin: 3px 0 3px 0;
  }

