<app-navbar></app-navbar>
<div class="pending-requests-container">
  <h2>Pending Requests:</h2>
  <div class="table-responsive">
      <table class="custom-table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>User ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Job ID</th>
                  <th>Job Title</th>
                  <th>Is Approved</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let request of Requests">
                  <td>{{ request.id }}</td>
                  <td>{{ request.startTime | date:'short' }}</td>
                  <td>{{ request.endTime | date:'short' }}</td>
                  <td>{{ request.userId }}</td>
                  <td>{{ request.firstName }}</td>
                  <td>{{ request.lastName }}</td>
                  <td>{{ request.jobId }}</td>
                  <td>{{ request.jobTitle }}</td>
                  <td>{{ request.isApproved ? 'Yes' : 'No' }}</td>
                  <td>
                      <button *ngIf="!request.isApproved" class="approve-button" (click)="approveRequest(request.id)">Approve</button>
                      <button class="decline-button" (click)="declineRequest(request.id)">Decline</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<button (click)="GoToAdmin()">Go back</button>

  